<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook" style="color: black;"></i>
            <i class="fa-brands fa-instagram" style="color: black;" ></i>
            <i class="fa-brands fa-linkedin" style="color: black;"></i>
        </div>

        <div class="f-info-lim" style="color: black;">&copy; Wander lust limited </div>
        <div class="f-info-links">
            <a href="/about" style="color: black;">About</a>
            <a href="/contact" style="color: black;">Contact</a>
            <a href="/privacy" style="color: black;">Privacy</a>
            <a href="/terms" style="color: black;">Terms</a>
        </div>
    </div>
</footer>