<% layout("/layouts/boilerplate.ejs") -%>

    <div class="row">
    <div class="col-8 offset-2">
        <br>
        <h3>  Create New Listings :- </h3>
    <form method="POST" action="/listings/port" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-flow"><b>Title :- </b></label>
        <input  name="listing[title]" id="title" class="form-control" placeholder="Title of the listing" required>
        <div class="invalid-feedback">
            Please provide a title.
        </div>
        </div>

       <div class="mb-3">
        <label for="description" class="form-flow"><b>Description :- </b> </label>
        <textarea  name="listing[description]" id="description" class="form-control"  placeholder="Add some description for place"  required></textarea>
        <div class="invalid-feedback">
            Please provide a description.
        </div>
        </div>


        <div class="mb-3">
        <label for="image" class="form-flow"><b>Image Upload :-</b> </label>
        <input  name="listing[image.url]" id="image" class="form-control"  type="file" placeholder="Image URL/Link" >
        <div class="invalid-feedback">
        </div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-flow"><b>price :-</b> </label>
        <input  name="listing[price]" id="price" class="form-control" placeholder="1200" required>
        <div class="invalid-feedback">
            Please provide a price.
        </div>
        </div>

        <div class="mb-3 col-md-8">
        <label for="country" class="form-flow"><b>Country :- </b> </label>
        <input type="text" name="listing[country]" id="country" class="form-control" placeholder="India" required>
        <div class="invalid-feedback">
            Please provide a country.
        </div>
        </div>
        </div>

        <div class="mb-3">
        <label for="location" class="form-flow"><b>Location :-</b> </label>
        <input type="text" name="listing[location]" id="location" class="form-control" placeholder="Jaipur,Rajasthan" required>
        <div class="invalid-feedback">
            Please provide a location.
        </div>
        </div>
        
    <br>
        <button class="btn btn-dark btn-color">Create Listing</button>
        

         <br>
         <button class="btn btn-dark offset-10">
        <a href="/listings" class="btn btn-dark">Back</a>
    </button>

        </form>
       
        </div>
        </div>
        

