<% layout("layouts/boilerplate.ejs") -%>

<div class="row">
    <div class="alert alert-danger" role="alert">
  A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  <h4> <%= message
     %></h4>
</div>
</div>